extends layout

block content
  h1=title

  form( method="POST")
    label(for="name") New User:
    input(type="text" name="name" required)
    button(type="submit") Create
  h2 Current Users  
  ul
    each user in allUsers 
      li #{user.name}
      button Edit 
      button Delete
      p 