doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    a(href='/') Front page 
    a ||||||||||
    a(href='whocleanwhat/create/chore') Add chore 

  body
    block content
