doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    ul#navbar
      li 
        a(href='/') Front page 
      li 
        a(href='whocleanwhat/create/chore') Add chore 

  body
    block content
