body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.columns-container {
  display: flex;
}

.column {
  flex: 1;
  margin: 0 10px;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline;
  padding: 15px; /* Adjust padding as needed */
  border: 1px solid #000; /* Adjust border color and style as needed */
  margin-right: 5px; /* Adjust spacing between boxes */
  background-color: #ababab; /* Optional: Adjust background color */
  border-radius: 1px; /* Optional: Add rounded corners */ 
}

#navbar li a {
  color: black;
}
